.section {
    height: 100vh;
    min-height: 100vw;
}

.person {
    background: #83acac;
    background: #83acac url(./bg_1800x789.png) center center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.person__head{
    display: flex;
    justify-content: space-between;
    padding: 32px 30px 0 30px;

}

.head__socials {
    // padding: 0 0 0 30px;
    width: 200px;
}

.soc-net {
    display: flex;
    // justify-content: space-between;

    &__item {
        // width: 32px;
        // height: 24px;
        // border: 1px dashed #fff;
        // display: block;
        padding: 0 30px 0 0;
    }
    
    
}

.soc-icon path{
    


    &:hover{
        fill: blue;
    }
   
}

.menu-icon{
width: 44px;
height: 38px;

}