extends ../template

block title
    title Обо мне

block content
    h2 This is content of About page pag
        section.section.person
            .person__head
                .head__socials
                .head__menu
            .person__avatar
                .avater__container
                    .avatar__img
                        .avatar__pic
            .person__button
        



        section.section.story
        section.section.map
        footer.footer