extends ../template

block title
    title Обо мне

block content
        section.section.person
            .person__head
                .head__socials
                    ul.soc-net
                        li.soc-net__item
                            a.soc-net__vk(href="#" target="_blank")
                                include ./vk.svg 
                        li.soc-net__item
                            a.soc-net__gh(href="#" target="_blank") 
                                include ./gh.svg 
                        li.soc-net__item
                            a.soc-net__in(href="#" target="_blank") 
                                include ./in.svg 
                .head__menu
                    a.head__menu-icon(href="#")
                        include ./hamburger.svg
            .person__avatar
                .avatar__container
                    .avatar__img
                        img.avatar__pic(src="./images/avatar.png")
                    .avatar__header
                    .avatar__description
            .person__button
        



        section.section.story
        section.section.map
        footer.footer