.section {
    height: 100vh;
    min-height: 100vw;
}

.person {
    background: #83acac;
    background: #83acac url(./bg_1800x789.png) center center no-repeat;
    background-size: cover;
}

.head__socials {
    padding: 32px 0 0 30px;
    width: 200px;
}

.soc-net {
    display: flex;
    justify-content: space-between;
    &__item {
        width: 44px;
        height: 32px;
        // border: 1px dashed #fff;
    }
    &__vk,
    &__gh,
    &__in {
        width: 100%;
        height: 100%;
        display: block;
    }
    &__vk {
        background: url(./vk.png)no-repeat center 0;
        background-size: cover;
    }
    &__gh {
        background: url(./gh.png)no-repeat center 0;
        background-size: cover;
    }
    &__in {
        background: url(./in.png)no-repeat center 0;
        background-size: cover;
    }
}